<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <main>
        <h1>Login</h1>
        <form action="/api/sessions/login" method="POST">
            <div class="section_box">
                <label for="first_name">Email</label>
                <input type="text" id="first_name" name="email">
            </div>

            <div class="section_box">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Sing in</button>
            <p class="message" id="message"></p>
            <p>Don't have an account? <a href="/register">Sing Up</a></p>
        </form>
    </main>
    <script src="../public/js/login.js"></script>
</body>

</html>