<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de usuario</title>
</head>

<body>
    <h1>Perfil de Usuario</h1>
    <p>Nombre: {{ user.first_name }}</p>
    <p>Apellido: {{ user.last_name }}</p>
    <p>Correo electrónico: {{ user.email }}</p>
    <p>Rol: {{ user.role }}</p>
    <button id="logout_btn">Logout</button>

    <script src="/js/logout.js"></script>
</body>

</html>