<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <main>
        <h1>Register</h1>
        <form action="/api/sessions/register" method="POST">
            <div class="section_box">
                <label for="first_name">First name</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>

            <div class="section_box">
                <label for="last_name">Last name</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>
            <div class="section_box">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div class="section_box">
                <label for="age">Age</label>
                <input type="text" id="age" name="age" required>
            </div>
            <div class="section_box">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Register</button>
            <p>Already have on account? <a href="/">Login</a></p>
        </form>
    </main>
</body>
<script src="../public/js/register.js"></script>

</html>