<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="registered_container">
        <h2>Usuario creado correctamente, ahora puede loguearse</h2>
        <a href="/">Login 😄</a>
    </main>
</body>

</html>