main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 5px;
}

.section_box {
    display: flex;
    flex-direction: column;
}